.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo{
  border-radius: 50%;
}

.date{
  font-family: "Akaya Kanadaka", system-ui;
  color: #007E23;
  font-size: 22px;
}

.txt{
  width: 211px;
  text-align: center;
}