.slick-prev,
.slick-next {
  display: none !important;
}

.header {
  color: black;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  margin-left: 50px;
}

.rounded-image-wrapper {
  border-radius: 20px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  
  margin: 0 auto; /* Center the image within its container */
}

.rounded-image {
  width: 300px;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
  
}

.carousel-wrapper {
  display: flex;
  flex-direction: row; /* Stack items */
  max-width: 100%;
  justify-content: center;
  align-items: center;
  
}

.custom-button {
  background-color: transparent;
  
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.custom-button img {
  width: 45px; 
  height: auto; 
}

.carousel-container {
  position: relative;
  max-width: 80%;
  max-height: 800px;
   
  padding: 2rem;
}

/* .slide {
  position: relative;
  max-width: 300px;
  max-height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.carousel-container h1 {
  position: absolute;
  top: -46px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: fit-content;
  padding: 5px 60px;
  border: 1px solid #000000;
  border-radius: 30px;
  background-color: white;
  z-index: 1; 
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slide img {
  max-width: 300px;
  max-height: 400px;
  
  margin-top: 20px;
}

.slide-content {
  color: #333;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  
}

.slide-content h3 {
  font-size: 24px;
  font-family: 'Martel Sans', sans-serif;
  font-weight: bold;
  margin: 20px 70px 10px 40px;
  text-align: center;
}

.slide-content p {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

.view-more-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  width: 100%;
  margin-top: 20px; /* Adjust margin for spacing */
}

.view-more-button {
  background-color: blue; /* Set your desired background color */
  color: white; /* Set text color */
  border: none;
  border-radius: 5px; /* Add some border-radius for aesthetics */
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 768px) {
  /* Adjust carousel container padding and header font size for medium screens */
  .carousel-container {
    padding: 2rem;
  }
  .carousel-container h1 {
    font-size: 24px;
  }
  .slide-content h3 {
    font-size: 20px;
  }
  .slide-content p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  /* Adjust carousel container padding and header font size for small screens */
  .carousel-container {
    padding: 1rem;
    max-width: 90%;
  }
  .carousel-container h1 {
    font-size: 20px;
  }
  .slide-content h3 {
    font-size: 18px;
  }
  .slide-content p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
